<ion-header>
  <ion-navbar>
    <ion-title>
        GALA PRO 
   </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label fixed>URL</ion-label>
        <ion-input type="text" value="" (keyup)="inputKeyUp($event)"></ion-input>
      </ion-item>
    
    <ion-item>
        <ion-label>Redirect me!</ion-label>
        <ion-checkbox color="dark" checked="true" [(ngModel)]="checkBoxValue"></ion-checkbox>
    </ion-item>  
    <div class="button-container">
      <button ion-button (click)="buttonPressed()">Button</button>
    </div>

    <ion-badge *ngIf="message">{{message}}</ion-badge>
    <ion-badge *ngIf="socketMessage">{{socketMessage}}</ion-badge>

</ion-content>
